#section-template--15048369078470__main {}

@media (min-width: 768px) and (max-width: 991px) {
#section-template--15048369078470__main {}
}

@media (max-width: 767px) {
#section-template--15048369078470__main {}
}

#block-f68ffe7c-7255-4ef8-8bfb-4a232495a3e0 .slider-content h6 {
    color: #222222;
  }

  #block-f68ffe7c-7255-4ef8-8bfb-4a232495a3e0 .slider-content h1 {
    color: #222222;
  }

  #block-f68ffe7c-7255-4ef8-8bfb-4a232495a3e0 .content-2 p {
    color: #222222;
  }

  #block-f68ffe7c-7255-4ef8-8bfb-4a232495a3e0 .small-btn a {
    background: #0438a1 none repeat scroll 0 0;
    color: #ffffff;
  }

  #block-f68ffe7c-7255-4ef8-8bfb-4a232495a3e0 .small-btn a:hover {
    background: #027ad1 none repeat scroll 0 0;
    color: #ffffff;
  }

  #block-a46e0f00-6639-4809-af31-55026ed706d4 .slider-content h6 {
    color: #222222;
  }

  #block-a46e0f00-6639-4809-af31-55026ed706d4 .slider-content h1 {
    color: #222222;
  }

  #block-a46e0f00-6639-4809-af31-55026ed706d4 .content-2 p {
    color: #222222;
  }

  #block-a46e0f00-6639-4809-af31-55026ed706d4 .small-btn a {
    background: #0438a1 none repeat scroll 0 0;
    color: #ffffff;
  }

  #block-a46e0f00-6639-4809-af31-55026ed706d4 .small-btn a:hover {
    background: #027ad1 none repeat scroll 0 0;
    color: #ffffff;
  }

  #section-template--15048369078470__main .slider-activation .owl-nav div {
    background: #ffffff;
    color: #0438a1;
  }

  #section-template--15048369078470__main .slider-activation .owl-nav div:hover {
    background: #0438a1;
    color: #ffffff;
  }

  #section-template--15048369078470__main .owl-dots .owl-dot {
    background: #dcdcdc;
  }

  #section-template--15048369078470__main .slider-activation .owl-dots .owl-dot.active {
    background: #0438a1 none repeat scroll 0 0;
  }
  #section-template--15048369078470__1631534148e9e9cfce {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__1631534148e9e9cfce {
      padding-top: 80px;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__1631534148e9e9cfce {
      padding-top: 60px;
      padding-bottom: 20px;
    }
  }

  #section-template--15048369078470__1631534148e9e9cfce .single-hot-deal {
    background: rgba(0, 0, 0, 0) url(../images/b1_1.jpg) no-repeat scroll center center / cover;
  }

  #section-template--15048369078470__1631534148e9e9cfce .deal-text h6 {
    color: #222222;
  }

  #section-template--15048369078470__1631534148e9e9cfce .deal-text h2 {
    color: #222222;
  }

  #section-template--15048369078470__1631534148e9e9cfce .deal-text p {
    color: #222222;
  }

  #section-template--15048369078470__1631534148e9e9cfce .count p {
    color: #222222;
  }

  #section-template--15048369078470__1631534148e9e9cfce .count span {
    color: #222222;
  }
  #section-template--15048369078470__163153428287f898ba {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__163153428287f898ba {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__163153428287f898ba {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
  #section-template--15048369078470__163153428287f898ba .pro-tabs-area li a.active {
    border-color: #e5e5e5;
    background: #ffffff;
    color: #454545;
  }

  #section-template--15048369078470__163153428287f898ba .pro-tabs-area li a {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #454545;
  }

  #section-template--15048369078470__163153428287f898ba .nav.tabs-area.pro-tabs-area::before {
    border-color: #e5e5e5;
  }
  #section-template--15048369078470__1631534362f427a64e {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__1631534362f427a64e {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__1631534362f427a64e {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }
  #section-template--15048369078470__1631534411b078bdde {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__1631534411b078bdde {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__1631534411b078bdde {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }
  #section-template--15048369078470__1631534411b078bdde .e-header {
    color: #222222;
  }

  #section-template--15048369078470__1631534411b078bdde .categorie-tabs-area li a {
    color: #222222;
  }

  #section-template--15048369078470__1631534411b078bdde .categorie-tabs-area li a.active {
    color: #0438a1;
  }

  #section-template--15048369078470__1631534411b078bdde .categorie-tabs-area li a:hover {
    color: #0438a1;
  }
  #section-template--15048369078470__163153447223688331 {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__163153447223688331 {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__163153447223688331 {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }
  #section-template--15048369078470__1631534509e52e174c {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-template--15048369078470__1631534509e52e174c {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    #section-template--15048369078470__1631534509e52e174c {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  }
  #block-1631534509e52e174c-2 .e-header {
    color: #222222;
  }