#YourID,.YourClass{color:#0438a1}
.blue-bg{background:#0438a1}
.small-btn a{background:#0438a1 none repeat scroll 0 0}
.tooltip-inner{background:#0438a1}
.tooltip .arrow:before{border-bottom-color:#0438a1!important;border-top-color:#0438a1!important}
.subscribe-form-group button{background:#0438a1 none repeat scroll 0 0}
.menu-tile{border-bottom:1px solid #0438a1}
.categorie-search-box input{border:1px solid #0438a1}
.categorie-search-box button{color:#0438a1}
.categorie-search-box button:before{background:#0438a1 none repeat scroll 0 0}
.categorie-search-box button:hover{color:#0438a1}
.cart-box .total-pro{background:#0438a1 none repeat scroll 0 0}
.cart-checkout:hover{background-color:#0438a1}
.del-icone:hover,.cart-content h6 a:hover,.currency-selector ul li a:hover,.price-content li span,.cart-content span.cart-price{color:#0438a1}
.pro-quantity{background:#0438a1 none repeat scroll 0 0}
.owl-nav div{color:#0438a1}
.owl-nav div:hover,.slider-activation .owl-nav div:hover{background:#0438a1}
.slider-activation .owl-dots .owl-dot.active{background:#0438a1 none repeat scroll 0 0}
.pro-info h4 a:hover,.product-rating i,.quantity-pro,.pro-actions-link a:hover,.categorie-tabs-area li a.active,.watch-content .countdown .count span,.watch-pricing .current-price{color:#0438a1}
.buy-now:hover{background:#0438a1;border-color:#0438a1}
.support-desc h6:before{background:#0438a1}
.single-ponno-blog .small-btn a:hover{background:#0438a1;border-color:#0438a1}
.meta-box li a:hover,.blog-content h4 a:hover,.ponnoi-blog .meta-box li a:hover,.ponnoi-blog .blog-content h4 a:hover{color:#0438a1}
.pagination-blog li.active a,.pagination-blog li a:hover{background:#0438a1 none repeat scroll 0 0;border-color:#0438a1}
.newsletter-box.blog-details-box .submit:hover{background:#0438a1 none repeat scroll 0 0}
.blogquote.blockquote{border-left:3px solid #0438a1}
.tags-social li a:hover,.pagination li a:hover{color:#0438a1}
.submit-review .form-group input:focus,.submit-review textarea:focus{border-color:#0438a1}
.comment-reply a:hover,.comment-desc h6 a:hover,.recent-desc h6 a:hover,.categorie-list li a:hover{color:#0438a1}
.tag-list li a:hover{background:#0438a1}
.breadcrumb-item a:hover,.breadcrumb-item.active{color:#0438a1}
.sidebar-title:after{background:#0438a1 none repeat scroll 0 0}
.ui-slider-handle.ui-state-default.ui-corner-all{background:#0438a1 none repeat scroll 0 0}
.color-option li a:hover,.sidbar-style .form-check label:hover,.grid-list-view .tabs-area li a.active{color:#0438a1}
#list-view .single-ponno-product .pro-actions-link a:hover{background:#0438a1;border-color:#0438a1}
.pfolio-breadcrumb-list li:hover a{color:#0438a1}
.thumb-menu.owl-carousel .owl-item a:hover{border-color:#0438a1}
#myModal .close:focus,#myModal .close:hover{color:#0438a1}
.rating-pro i,.review-list i,.rating-summary li a:hover,.pro-list-features li a{color:#0438a1}
.pro-cart:hover{background:#0438a1}
.social-sharing ul li a:hover{background:#0438a1;border-color:#0438a1}
.main-thumb-desc li a.active{border-bottom:2px solid #0438a1;color:#0438a1}
.main-thumb-desc li a:hover,.review-list li label a:hover{color:#0438a1}
.customer-btn,.return-customer-btn{background:#0438a1 none repeat scroll 0 0}
.return-customer-btn:hover{background:#0438a1}
.product-description .compare-cart{background:#0438a1 none repeat scroll 0 0}
.product-description .compare-cart i{border:1px solid #0438a1}
.product-description .product-rating i,.compare-details h4 a:hover,.product-description .fa-trash-o:hover{color:#0438a1}
.coupon-accordion h3{border-top:3px solid #0438a1}
.coupon-accordion span:hover,p.lost-password a:hover{color:#0438a1}
.coupon-info p.form-row input[type=submit]:hover,p.checkout-coupon input[type=submit]:hover{background:#0438a1 none repeat scroll 0 0}
.your-order-table table tr.order-total td span{color:#0438a1}
.order-button-payment input{background:#0438a1}
.product-stock-status span,.table-content table td.product-remove i:hover,.table-content table td.product-remove a:hover i,.table-content table td.product-name a:hover,.buttons-cart a:hover{color:#0438a1}
.buttons-cart input:hover,.coupon input[type=submit]:hover,.buttons-cart a:hover{background:#0438a1 none repeat scroll 0 0; color: white}
.cart_totals table td .amount{color:#0438a1}
.wc-proceed-to-checkout a:hover{background:#0438a1}
.cart-main-area.wish-list .product-add-to-cart a{background:#0438a1 none repeat scroll 0 0}
.team-link ul li a{color:#0438a1}.view,.view-cart{background:#0438a1 none repeat scroll 0 0}
.dashboard-list li a,.log-out,#dashboard a{color:#0438a1}
.show-btn:hover,.login-btn:hover{background:#0438a1}
.login-details a:hover,.login-footer p a:hover,.register-form a:hover,.error-text h1,#search-form button:hover{color:#0438a1}
.error-button a{background:#0438a1 none repeat scroll 0 0}
.header-menu-list>li>ul.ht-dropdown.megamenu>li.mega-menu-tree>a{border-bottom:1px solid #0438a1}
.product-rating .spr-badge-starrating .spr-icon{color:#0438a1}
ul.sidbar-style li a:hover,ul.sidbar-style li.active a,ul.archive-sidebar li a:hover{color:#0438a1}blockquote{border-left:3px solid #0438a1}
.error-content a.theme-default-button{background:#0438a1 none repeat scroll 0 0}
.quick-view-rating.rating i{color:#0438a1}
.theme-default-button{background-color:#0438a1}
.swatch-element input:checked+label{color:#0438a1}
a.spr-icon.spr-icon-star{color:#0438a1}
fieldset.spr-form-actions input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary{background:#0438a1}
.footer-list li a:hover{color:#0438a1}.wc-proceed-to-checkout .check_out_btn:hover{background:#0438a1}
.shopify-payment-button .shopify-payment-button__button:hover,.shopify-payment-button .shopify-payment-button__more-options:hover{background-color:#0438a1}
.shopify-payment-button__button--unbranded:hover:not([disabled]){background-color:#0438a1!important}
a.spr-icon.spr-icon-star,a.spr-icon,.spr-icon{color:#0438a1}
.banner_full_content a:hover{background:#0438a1}
.grid-list-view .tabs-area li a.change-view.change-view--active{color:#0438a1}
.modal-button a.theme-default-button:hover{background:#0438a1}
/*# sourceMappingURL=/cdn/shop/t/10/assets/theme-color.css.map?v=40569077017628322981631599386 */
